/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --primary-color: rgb(39, 33, 66);
  --secondary-color: rgb(102, 46, 237);
}

h1,
h2,
h3,
h4,
h5,
p,
li,
.title-about,
.title-recipe,
.name {
  color: var(--primary-color);
  font-family: "Nunito", sans-serif;
}
h2 {
  font-weight: bold;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 50px;
}

h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

h4 {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

h5 {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: rgb(248, 125, 161);
}

hr {
  color: white;
  border-bottom: dashed 1px #67d5d2;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

footer {
  background-color: rgb(249, 247, 254);
  padding-top: 38px;
  padding-bottom: 38px;
}

footer p {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.contact-info {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgb(102, 46, 237);
}
.overlay-text h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: rgb(255, 255, 255);
  line-height: 98px;
}
.title-about,
.title-recipe {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}

.img-recipe-collection {
  width: 760px;
}

.name {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
}

.img-girl {
  width: 460px;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-text p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 35px;
}

.ovarlay-img {
  width: 100%;
  margin-top: 62px;
}

.overlay {
  position: relative;
  text-align: center;
}

.main img {
  width: 100%;
}

.logo {
  width: 150px;
}

.navbar-margin {
  margin-top: 48px;
  font-weight: bold;
}

.navbar-text-color {
  color: var(--primary-color);
}

.home-text-color {
  color: var(--secondary-color);
}

.wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-rights {
  text-align: end;
}
.footer-icons {
  text-align: center;
}

/*media*/
@media (max-width: 576px) {
  footer {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  p {
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 12px;
    text-align: center;
  }
  ul,
  p,
  h5 {
    text-align: left;
  }
  .footer-icons,
  .footer-rights,
  .contact-info {
    text-align: left;
  }
  .wrapper {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .p-info {
    font-size: 15px;
  }

  .title-about,
  .title-recipe {
    font-size: 45px;
  }
  .name {
    margin-bottom: 5px;
    font-size: 35px;
  }

  .img-girl {
    width: 250px;
  }
}

/*media for overlay text*/
@media (max-width: 1500px) {
  .overlay-text {
    top: 60%;
  }
  .overlay-text p {
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
  }

  .overlay-text h1 {
    font-size: 50px;
    line-height: 1;
  }
}

@media (max-width: 860px) {
  .overlay-text {
    top: 70%;
  }
  .overlay-text p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 35px;
    line-height: 1;
  }
}

@media (max-width: 576px) {
  .overlay-text {
    top: 80%;
  }
  .overlay-text p {
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 31px;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  .overlay-text {
    top: 88%;
  }
  .overlay-text p {
    text-align: center;
    font-size: 11px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 23px;
    line-height: 1;
  }
}

@media (max-width: 400px) {
  .overlay-text {
    top: 90%;
  }
  .overlay-text p {
    text-align: center;
    font-size: 8px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 18px;
    line-height: 1;
  }
}

@media (max-width: 308px) {
  .overlay-text {
    top: 95%;
  }
  .overlay-text p {
    text-align: center;
    font-size: 6px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 10px;
    line-height: 1;
  }
}
