/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --primary-color: rgb(39, 33, 66);
  --secondary-color: rgb(102, 46, 237);
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: rgb(255, 255, 255);
  line-height: 98px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 50px;
}

footer {
  background-color: rgb(249, 247, 254);
  padding: 38px 140px;
}

footer p {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}
.overlay-text p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 35px;
}

.ovarlay-img {
  width: 100%;
  margin-top: 62px;
}

.overlay {
  position: relative;
  text-align: center;
}

.main img {
  width: 100%;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 150px;
}

.navbar-margin {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 48px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.navbar-text-color {
  color: var(--primary-color);
}

.home-text-color {
  color: var(--secondary-color);
}

.wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .main {
    margin: 20px 50px;
  }
} ;
