/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --primary-color: rgb(39, 33, 66);
  --secondary-color: rgb(102, 46, 237);
}

.overlay-text h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: rgb(255, 255, 255);
  line-height: 98px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--primary-color);
}

footer {
  background-color: rgb(249, 247, 254);
  padding-top: 38px;
  padding-bottom: 38px;
}

footer p {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.title-about {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--primary-color);
}

.name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: var(--primary-color);
}

.img-girl {
  width: 460px;
}
.overlay-text p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 35px;
}

.ovarlay-img {
  width: 100%;
  margin-top: 62px;
}

.overlay {
  position: relative;
  text-align: center;
}

.main img {
  width: 100%;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 150px;
}

.navbar-margin {
  margin-top: 48px;
  font-weight: bold;
}

.navbar-text-color {
  color: var(--primary-color);
}

.home-text-color {
  color: var(--secondary-color);
}

.wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-rights {
  text-align: end;
}
.footer-icons {
  text-align: center;
}

@media (max-width: 576px) {
  .footer-icons,
  .footer-rights {
    text-align: left;
  }
  .wrapper {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  footer {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .img-girl {
    width: 300px;
  }
  .name {
    font-size: 48px;
    margin-bottom: 0;
  }
}

/*media for overlay text*/
@media (max-width: 1450px) {
  .overlay-text {
    top: 60%;
  }
  .overlay-text p {
    font-size: 20px;
  }
  .overlay-text h1 {
    font-size: 66px;
    line-height: 1.2;
  }
}

@media (max-width: 1174px) {
  .overlay-text p {
    font-size: 20px;
  }
  .overlay-text h1 {
    font-size: 60px;
    line-height: 1.2;
  }
}
@media (max-width: 981px) {
  .overlay-text p {
    font-size: 20px;
    line-height: 1.2;
  }
  .overlay-text h1 {
    font-size: 55px;
    line-height: 1.2;
  }
}
@media (max-width: 901px) {
  .overlay-text p {
    font-size: 17px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 51px;
    line-height: 1.2;
  }
}
@media (max-width: 836px) {
  .overlay-text {
    top: 65%;
  }
  .overlay-text p {
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 46px;
    line-height: 1.2;
  }
}

@media (max-width: 756px) {
  .overlay-text {
    top: 70%;
  }
  .overlay-text p {
    font-size: 13px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 660px) {
  .overlay-text {
    top: 75%;
  }
  .overlay-text p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 35px;
    line-height: 1.2;
  }
}
@media (max-width: 579px) {
  .overlay-text p {
    font-size: 10px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 27px;
    line-height: 1.2;
  }
}
@media (max-width: 451px) {
  .overlay-text {
    top: 80%;
  }
  .overlay-text p {
    font-size: 9px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 22px;
    line-height: 1;
  }
}
@media (max-width: 353px) {
  .overlay-text {
    top: 80%;
  }
  .overlay-text p {
    font-size: 9px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 15px;
    line-height: 1;
  }
}
@media (max-width: 301px) {
  .overlay-text {
    top: 82%;
  }
  .overlay-text p {
    font-size: 5px;
    line-height: 1.2;
    font-weight: normal;
  }
  .overlay-text h1 {
    font-size: 12px;
    line-height: 1;
  }
}
